/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	line-height: 1;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-family: "M PLUS 1p", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Footer */

.footer {
    background-color: rgba(21, 4, 51, 1);
}
.footer__container {
    max-width: 1146px;
    min-height: 50vh;
    margin: 0 auto;
}
.footer__content {
    display: flex;
    margin-top: 126px;
    justify-content: space-between;
}
.footer__info--logo {
    width: 14%;
}
.footer__logo {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FCFCFC;
}
.footer__logo--text {
    font-weight: 400;
    font-size: 16px;
    color: #FCFCFC;
    margin-top: 17px;
    line-height: 1.6;
}
.footer__info-right{
    width: 75%;
}

.footer__info-year{
    color: #FCFCFC;
    padding-top: 64px;
    font-weight: 400;
    line-height: 1.6;
    font-size: 11.7px;

}

.footer__info-right-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__menu {
    width: 5%;
}
.footer__name {
    color: #FCFCFC;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 6px;
    text-decoration: underline rgba(246, 16, 103, 1);
    text-underline-offset: 13px;
    
}
.footer__list {
    padding-top: 41px;
}
.footer__item {
    margin-bottom: 18px;
}
.footer__link {
    color: #FCFCFC;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 1px;
}
.footer__services {
    width: 10%;
}
.contact__itetms{
    padding-top: 41px;
}

.contact__item {
    display: flex;
    
    margin-bottom: 19px;
}

.contact__text {
    margin-left: 18px;
    font-weight: 400;
    font-size: 16px;
    color: #FCFCFC;
}

.follow__items{
    padding-top: 41px;
}
.footer__follow {
    width: 30%;
}
.follow__img {
    margin-right: 10%;
}


/* NewsLetter */


.newsletter {
    margin-bottom: 141px;
    margin-top: 126px;
}
.newsletter__container {
    max-width: 613px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter__title {
    color: rgba(48, 35, 61, 1);
    font-weight: 500;
    font-size: 45px;
}
.newsletter__subtitle {
    margin-top: 38px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(119, 108, 130, 1);
}
.newsletter__form {
    margin-top: 45px;
}
.form {
    width: 91%;
    box-shadow: 0px 6px 10px rgba(244, 244, 237, 1);

}
.form__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 27px;
}
.form__input {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.form__btn {
    background: none;
    width: 41%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 6px;
    color: rgba(246, 16, 103, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__border{
    border: 1px solid rgba(246, 16, 103, 1);
    border-radius: 50%;
    width: 27px; 
    height: 27px; 
    padding: 0;
    cursor: pointer;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}


@media (max-width: 1183px) {
    .footer__container {
        padding: 0 30px;
    }

    .footer__name{
        font-size: 10px;
    }
    
    .footer__menu {
        width: 8%;
    }
    
    .footer__services {
        width: 12%;
    }

    .contact__text{
        font-size: 13px;
    }
    
    .footer__follow {
        width: 25%;
    }
    .follow__img{
        margin-right: 5%;
    }
}

@media (max-width: 850px) {
        
    .footer__content {
        flex-direction: column;
    }

    .footer__info--logo {
    width: 40%
}

    .footer__info-right {
        margin-top: 30px;
    width: 100%;
}
    

}


@media (max-width: 550px) {
    .form__container{
        flex-direction: column;
        padding: 15px 15px;
    }
    .form__input{
        text-align: center;
        padding-bottom: 10px;
    }

    .form__btn{
        width: 70%;
    }

   .newsletter__title {
        text-align: center;
        font-size: 30px;
   }

   .newsletter__subtitle{
    text-align: center;
   }

   .footer__info-right-top{
    flex-direction: column;
   }

   .footer__follow {
        width: 50%
    }
    
}
